DATABASE_URL="file:./dev.db"
BETTER_AUTH_SECRET="development-secret-key-at-least-32-chars-long"
BETTER_AUTH_URL="http://localhost:3000"

NEXT_PUBLIC_SENTRY_DSN=""
SENTRY_DSN=""
SENTRY_ORG=""
SENTRY_PROJECT=""
SENTRY_AUTH_TOKEN=""
