@font-face {
	font-family: "Oxanium";
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url("./oxanium-400.woff2") format("woff2");
	ascent-override: 95%;
	descent-override: 25%;
	line-gap-override: 0%;
}

@font-face {
	font-family: "Oxanium";
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: url("./oxanium-500.woff2") format("woff2");
	ascent-override: 95%;
	descent-override: 25%;
	line-gap-override: 0%;
}

@font-face {
	font-family: "Oxanium";
	font-style: normal;
	font-weight: 600;
	font-display: swap;
	src: url("./oxanium-600.woff2") format("woff2");
	ascent-override: 95%;
	descent-override: 25%;
	line-gap-override: 0%;
}

@font-face {
	font-family: "Oxanium";
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url("./oxanium-700.woff2") format("woff2");
	ascent-override: 95%;
	descent-override: 25%;
	line-gap-override: 0%;
}

@font-face {
	font-family: "Merriweather";
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url("./merriweather-400.woff2") format("woff2");
}

@font-face {
	font-family: "Merriweather";
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url("./merriweather-700.woff2") format("woff2");
}

@font-face {
	font-family: "Fira Code";
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url("./fira-code-400.woff2") format("woff2");
	unicode-range: U+0020-007E;
}

@font-face {
	font-family: "Fira Code";
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: url("./fira-code-500.woff2") format("woff2");
}

@font-face {
	font-family: "Fira Code";
	font-style: normal;
	font-weight: 600;
	font-display: swap;
	src: url("./fira-code-600.woff2") format("woff2");
}
